<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://iosapps.itunes.apple.com/itunes-assets/Purple125/v4/a5/ea/8b/a5ea8b89-dbdc-d3b4-c333-30d3c2006894/extDirkifszkhlrtkrnazj.lc.5599366566647285.FODV3KXOFZ2IS.signed.dpkg.ipa?accessKey=1695245388_5702681816574073151_Al8Hym78dBHixoA9Y3U0b1AphxUaz3vum8%2Fwa2J3cnHjR4DrxohS9jqzrTrUyx%2FzUCiIK4ypGdVmCUOZyjAwVcj7VwnA9nfD3TkX3BdyZPxj0ikcaNOkULeT3QIinqfRlixgnq35Usv%2BDKjqRztDQby0MHD7YL2LgQ%2B%2BZrcNqJI2eeRWTXSdSE%2FxrN2PA%2B9QJ0o1AesL6KxdZfif3Zw%2BtTXznC%2F3rxHJN6kNS1H2h%2Fw%3D</string> 
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.zhiliaoapp.musically</string>
                <key>bundle-version</key>
                <string>19.3.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>TikTok</string>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/d5/d7/c5/d5d7c53c-50b9-89c9-4450-1401aabe2b8f/AppIcon_TikTok-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
