<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://iosapps.itunes.apple.com/itunes-assets/Purple125/v4/6b/e1/b1/6be1b1dd-70b7-b98a-0efb-016e6d679efe/extDirrldpbnctdyvrkomi.lc.5015970466754023.IRQKUDBEULFSG.signed.dpkg.ipa?accessKey=1695218582_1687554067891954934_T%2Fr%2FzjjaFhDckXkRYMcVTTX3s8ScygZAKbL5FSLsiix%2BOKpN5mXOeoaabvwdMfdI6TrQ2%2BGeF5eAvngyLAl59TvzVD1OkPVhVpQd5zZ%2FZKFndgxY2M7xCANfIlv8TT08nWuPg19wCnD%2BIx1YXaDbM94l4k%2FEGfSCA%2BE0NYcf4z9d2uOG8yI5Zu3TZ1AgTAMIUuWwYLEFkPcW3wVD0tlEIlFosa%2BrYWAM0RPSsbRUd7Y%3D</string>
				</dict>
			</array>
	<key>appleId</key>
	<string>cnlinming@qq.com</string>
	<key>artistId</key>
	<integer>1322881000</integer>
	<key>artistName</key>
	<string>TikTok Ltd.</string>
	<key>bundleDisplayName</key>
	<string>TikTok</string>
	<key>bundleShortVersionString</key>
	<string>19.3.0</string>
	<key>bundleVersion</key>
	<string>193021</string>
	<key>com.apple.iTunesStore.downloadInfo</key>
	<dict>
		<key>accountInfo</key>
		<dict>
			<key>AccountStoreFront</key>
			<string>143441-19,32</string>
			<key>AppleID</key>
			<string>cnlinming@qq.com</string>
			<key>DSPersonID</key>
			<integer>10199575899</integer>
			<key>DownloaderID</key>
			<integer>0</integer>
			<key>FamilyID</key>
			<integer>0</integer>
			<key>FirstName</key>
			<string>ming</string>
			<key>LastName</key>
			<string>lin</string>
			<key>PurchaserID</key>
			<integer>10199575899</integer>
			<key>UserName</key>
			<string>ming lin</string>
		</dict>
		<key>purchaseDate</key>
		<string>2022-12-01T07:35:50Z</string>
	</dict>
	<key>copyright</key>
	<string>© 2020 TikTok</string>
	<key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>gameCenterEnabled</key>
	<false/>
	<key>gameCenterEverEnabled</key>
	<false/>
	<key>genre</key>
	<string>娱乐</string>
	<key>genreId</key>
	<integer>6016</integer>
	<key>hasMessagesExtension</key>
	<true/>
	<key>hasOrEverHasHadIAP</key>
	<true/>
	<key>is-purchased-redownload</key>
	<true/>
	<key>itemId</key>
	<integer>835599320</integer>
	<key>itemName</key>
	<string>TikTok</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistName</key>
	<string>TikTok Ltd.</string>
	<key>product-type</key>
	<string>ios-app</string>
	<key>purchaseDate</key>
	<date>2022-12-01T07:35:50Z</date>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string>偶尔/轻微的亵渎或低俗幽默 , Advisory.NO.TRUE_GAMBLING , Advisory.NO.GAMBLING_CONTESTS , Advisory.NO.UNRESTRICTED_WEB_ACCESS , 偶尔/轻微的成人或性暗示题材 , 偶尔/轻微的卡通或幻想暴力 , 偶尔/轻微的色情内容或裸露 and 偶尔/轻微的烟酒或毒品使用或相关内容</string>
		<key>label</key>
		<string>12+</string>
		<key>rank</key>
		<integer>300</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2014-04-02T22:44:45Z</string>
	<key>requiresRosetta</key>
	<false/>
	<key>runsOnAppleSilicon</key>
	<true/>
	<key>runsOnIntel</key>
	<false/>
	<key>s</key>
	<integer>143441</integer>
	<key>software-platform</key>
	<string>ios</string>
	<key>softwareIcon57x57URL</key>
	<string>https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/d5/d7/c5/d5d7c53c-50b9-89c9-4450-1401aabe2b8f/AppIcon_TikTok-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/114x114bb.jpg</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>2</integer>
		<integer>9</integer>
		<integer>4</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>com.zhiliaoapp.musically</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>842088029</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>816861451</integer>
		<integer>816907362</integer>
		<integer>816984789</integer>
		<integer>817073189</integer>
		<integer>817330219</integer>
		<integer>817462662</integer>
		<integer>817626812</integer>
		<integer>817674153</integer>
		<integer>817704566</integer>
		<integer>817745972</integer>
		<integer>817867164</integer>
		<integer>817926524</integer>
		<integer>818023947</integer>
		<integer>818053615</integer>
		<integer>818077446</integer>
		<integer>818088771</integer>
		<integer>818110886</integer>
		<integer>818125201</integer>
		<integer>818162406</integer>
		<integer>818237675</integer>
		<integer>818303231</integer>
		<integer>818370266</integer>
		<integer>818468202</integer>
		<integer>818518285</integer>
		<integer>818621043</integer>
		<integer>818670107</integer>
		<integer>818739245</integer>
		<integer>818750054</integer>
		<integer>819079041</integer>
		<integer>819178977</integer>
		<integer>819218461</integer>
		<integer>819290461</integer>
		<integer>819403843</integer>
		<integer>819461136</integer>
		<integer>819604876</integer>
		<integer>819741758</integer>
		<integer>819758096</integer>
		<integer>819851369</integer>
		<integer>819899951</integer>
		<integer>820091342</integer>
		<integer>820178649</integer>
		<integer>820407588</integer>
		<integer>820492657</integer>
		<integer>820527999</integer>
		<integer>820574205</integer>
		<integer>820709383</integer>
		<integer>820867946</integer>
		<integer>820934768</integer>
		<integer>820988886</integer>
		<integer>821064634</integer>
		<integer>821173200</integer>
		<integer>821319221</integer>
		<integer>821351234</integer>
		<integer>821411464</integer>
		<integer>821539560</integer>
		<integer>821701741</integer>
		<integer>821774682</integer>
		<integer>821883062</integer>
		<integer>821911992</integer>
		<integer>821946245</integer>
		<integer>821996361</integer>
		<integer>822035162</integer>
		<integer>822065672</integer>
		<integer>822139333</integer>
		<integer>822276613</integer>
		<integer>822326821</integer>
		<integer>822384365</integer>
		<integer>822424449</integer>
		<integer>822494767</integer>
		<integer>822530880</integer>
		<integer>822682708</integer>
		<integer>822802609</integer>
		<integer>822913045</integer>
		<integer>822932936</integer>
		<integer>822943411</integer>
		<integer>822987522</integer>
		<integer>823077043</integer>
		<integer>823381754</integer>
		<integer>823425034</integer>
		<integer>823461915</integer>
		<integer>823508002</integer>
		<integer>823660150</integer>
		<integer>823690519</integer>
		<integer>823744593</integer>
		<integer>823846149</integer>
		<integer>823963782</integer>
		<integer>824082851</integer>
		<integer>824250120</integer>
		<integer>824469793</integer>
		<integer>824688841</integer>
		<integer>824776173</integer>
		<integer>824988005</integer>
		<integer>825319222</integer>
		<integer>825344392</integer>
		<integer>825366183</integer>
		<integer>825453374</integer>
		<integer>825498633</integer>
		<integer>825586075</integer>
		<integer>825628467</integer>
		<integer>825751283</integer>
		<integer>825800377</integer>
		<integer>825871109</integer>
		<integer>826136262</integer>
		<integer>826202989</integer>
		<integer>826319428</integer>
		<integer>826406284</integer>
		<integer>826514826</integer>
		<integer>826705019</integer>
		<integer>826750061</integer>
		<integer>826788236</integer>
		<integer>826952977</integer>
		<integer>827186868</integer>
		<integer>827237102</integer>
		<integer>827285423</integer>
		<integer>827322746</integer>
		<integer>827373318</integer>
		<integer>827479029</integer>
		<integer>827497874</integer>
		<integer>827636900</integer>
		<integer>827677149</integer>
		<integer>827819343</integer>
		<integer>827872664</integer>
		<integer>827952635</integer>
		<integer>828091150</integer>
		<integer>828105204</integer>
		<integer>828118581</integer>
		<integer>828213674</integer>
		<integer>828312191</integer>
		<integer>828332112</integer>
		<integer>828465796</integer>
		<integer>828573552</integer>
		<integer>828736577</integer>
		<integer>828827802</integer>
		<integer>828861189</integer>
		<integer>828964398</integer>
		<integer>829035773</integer>
		<integer>829056194</integer>
		<integer>829114491</integer>
		<integer>829184492</integer>
		<integer>829196087</integer>
		<integer>829292146</integer>
		<integer>829348114</integer>
		<integer>829372534</integer>
		<integer>829423396</integer>
		<integer>829500035</integer>
		<integer>829583759</integer>
		<integer>829648413</integer>
		<integer>829706753</integer>
		<integer>829768302</integer>
		<integer>829820291</integer>
		<integer>829945816</integer>
		<integer>830020300</integer>
		<integer>830057562</integer>
		<integer>830090647</integer>
		<integer>830325973</integer>
		<integer>830405874</integer>
		<integer>830481859</integer>
		<integer>830505427</integer>
		<integer>830647831</integer>
		<integer>830733750</integer>
		<integer>830821198</integer>
		<integer>830901591</integer>
		<integer>830934662</integer>
		<integer>830985190</integer>
		<integer>831011043</integer>
		<integer>831066150</integer>
		<integer>831135780</integer>
		<integer>831206467</integer>
		<integer>831269592</integer>
		<integer>831382857</integer>
		<integer>831451544</integer>
		<integer>831527562</integer>
		<integer>831607294</integer>
		<integer>831685862</integer>
		<integer>831738874</integer>
		<integer>831775492</integer>
		<integer>831851119</integer>
		<integer>831933161</integer>
		<integer>832014151</integer>
		<integer>832099050</integer>
		<integer>832177509</integer>
		<integer>832261448</integer>
		<integer>832347178</integer>
		<integer>832379548</integer>
		<integer>832429927</integer>
		<integer>832511989</integer>
		<integer>832626474</integer>
		<integer>832700611</integer>
		<integer>832789168</integer>
		<integer>832881505</integer>
		<integer>832984563</integer>
		<integer>833088044</integer>
		<integer>833129172</integer>
		<integer>833224584</integer>
		<integer>833360498</integer>
		<integer>833398913</integer>
		<integer>833448031</integer>
		<integer>833480160</integer>
		<integer>833555506</integer>
		<integer>833647038</integer>
		<integer>833720682</integer>
		<integer>833742930</integer>
		<integer>833830827</integer>
		<integer>833923967</integer>
		<integer>833997103</integer>
		<integer>834164159</integer>
		<integer>834249951</integer>
		<integer>834326728</integer>
		<integer>834348257</integer>
		<integer>834424226</integer>
		<integer>834596857</integer>
		<integer>834681957</integer>
		<integer>834742878</integer>
		<integer>834834924</integer>
		<integer>834929571</integer>
		<integer>835032667</integer>
		<integer>835126203</integer>
		<integer>835218132</integer>
		<integer>835320509</integer>
		<integer>835371596</integer>
		<integer>835507226</integer>
		<integer>835579955</integer>
		<integer>835631839</integer>
		<integer>835709141</integer>
		<integer>835747928</integer>
		<integer>835847859</integer>
		<integer>835995661</integer>
		<integer>836092918</integer>
		<integer>836084843</integer>
		<integer>836092919</integer>
		<integer>836215426</integer>
		<integer>836307501</integer>
		<integer>836412548</integer>
		<integer>836510549</integer>
		<integer>836573509</integer>
		<integer>836618997</integer>
		<integer>836770441</integer>
		<integer>836866231</integer>
		<integer>836973811</integer>
		<integer>837294197</integer>
		<integer>837361584</integer>
		<integer>837499317</integer>
		<integer>837614836</integer>
		<integer>837696056</integer>
		<integer>837796413</integer>
		<integer>837937556</integer>
		<integer>838008157</integer>
		<integer>838141880</integer>
		<integer>838273572</integer>
		<integer>838349742</integer>
		<integer>838412699</integer>
		<integer>838447700</integer>
		<integer>838684796</integer>
		<integer>838776217</integer>
		<integer>839425903</integer>
		<integer>839547170</integer>
		<integer>839635741</integer>
		<integer>839717634</integer>
		<integer>839890961</integer>
		<integer>839908352</integer>
		<integer>840176553</integer>
		<integer>840288665</integer>
		<integer>840580131</integer>
		<integer>840680855</integer>
		<integer>840756463</integer>
		<integer>840787476</integer>
		<integer>840890683</integer>
		<integer>840999279</integer>
		<integer>841108227</integer>
		<integer>841225167</integer>
		<integer>841312806</integer>
		<integer>841585061</integer>
		<integer>841930072</integer>
		<integer>842088029</integer>
		<integer>842241663</integer>
		<integer>842275537</integer>
		<integer>842340812</integer>
		<integer>842405877</integer>
		<integer>842442417</integer>
		<integer>842535684</integer>
		<integer>842598752</integer>
		<integer>842664123</integer>
		<integer>842749494</integer>
		<integer>842852465</integer>
		<integer>842950998</integer>
		<integer>843047401</integer>
		<integer>843151102</integer>
		<integer>843268368</integer>
		<integer>843365345</integer>
		<integer>843389387</integer>
		<integer>843504966</integer>
		<integer>843534898</integer>
		<integer>843551661</integer>
		<integer>843820050</integer>
		<integer>843972181</integer>
		<integer>844024073</integer>
		<integer>844082480</integer>
		<integer>844758758</integer>
		<integer>845472189</integer>
		<integer>845864352</integer>
		<integer>846082903</integer>
		<integer>846404613</integer>
		<integer>846462821</integer>
		<integer>846566455</integer>
		<integer>846813308</integer>
		<integer>846878811</integer>
		<integer>847108070</integer>
		<integer>847163970</integer>
		<integer>847322316</integer>
		<integer>847441101</integer>
		<integer>847487151</integer>
		<integer>847581740</integer>
		<integer>847725990</integer>
		<integer>847789825</integer>
		<integer>847926507</integer>
		<integer>848082435</integer>
		<integer>848297412</integer>
		<integer>848335043</integer>
		<integer>848401190</integer>
		<integer>848563867</integer>
		<integer>848824148</integer>
		<integer>848980952</integer>
		<integer>849197244</integer>
		<integer>849365816</integer>
		<integer>849597976</integer>
		<integer>849831533</integer>
		<integer>849891767</integer>
		<integer>850077206</integer>
		<integer>850295163</integer>
		<integer>850384953</integer>
		<integer>850451048</integer>
		<integer>850593218</integer>
		<integer>850631820</integer>
		<integer>850703469</integer>
		<integer>850755283</integer>
		<integer>850931755</integer>
		<integer>851084386</integer>
		<integer>851256355</integer>
		<integer>851517377</integer>
		<integer>851593294</integer>
		<integer>851641023</integer>
		<integer>851684834</integer>
		<integer>851750458</integer>
		<integer>851896430</integer>
		<integer>852033115</integer>
		<integer>852233507</integer>
		<integer>852270016</integer>
		<integer>852302372</integer>
		<integer>852449262</integer>
		<integer>852504626</integer>
		<integer>852657449</integer>
		<integer>852683897</integer>
		<integer>852717724</integer>
		<integer>852836062</integer>
		<integer>852937975</integer>
		<integer>852988026</integer>
		<integer>853067419</integer>
		<integer>853197229</integer>
		<integer>853328592</integer>
		<integer>853462734</integer>
		<integer>853537102</integer>
		<integer>853593598</integer>
		<integer>853636364</integer>
		<integer>853808759</integer>
		<integer>853971021</integer>
		<integer>854059317</integer>
		<integer>854213876</integer>
		<integer>854286131</integer>
		<integer>854342734</integer>
		<integer>854477656</integer>
		<integer>854503687</integer>
		<integer>854755361</integer>
		<integer>854923449</integer>
		<integer>855064791</integer>
		<integer>855349739</integer>
		<integer>856043949</integer>
		<integer>856150847</integer>
		<integer>856230586</integer>
		<integer>856418321</integer>
		<integer>856510643</integer>
		<integer>856611972</integer>
		<integer>856851602</integer>
		<integer>857091392</integer>
		<integer>857255230</integer>
		<integer>857451415</integer>
		<integer>857595874</integer>
		<integer>857794431</integer>
		<integer>857932039</integer>
		<integer>858056281</integer>
		<integer>858172165</integer>
		<integer>858362024</integer>
		<integer>858478535</integer>
		<integer>858540400</integer>
		<integer>858590269</integer>
		<integer>858722746</integer>
		<integer>858837919</integer>
		<integer>858991746</integer>
		<integer>859144308</integer>
		<integer>859292342</integer>
		<integer>859458642</integer>
		<integer>859587635</integer>
		<integer>859648860</integer>
		<integer>859676263</integer>
		<integer>859811647</integer>
		<integer>859858397</integer>
	</array>
	<key>storeCohort</key>
	<string>10|date=1695049200000&amp;sf=143441&amp;pgtp=Software&amp;pgid=835599320&amp;prpg=Search_e465e8fa-51a5-4e32-ba41-02b2bc87c86d&amp;ctxt=App%20Store</string>
	<key>userName</key>
	<string>ming lin</string>
	<key>vendorId</key>
	<integer>118874049</integer>
	<key>versionRestrictions</key>
	<integer>16843008</integer>
</dict>
</plist>
